@import com.rj.ecom.data.ProductCatalog
@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, products: List[ProductCatalog])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("ECom POC") {
	
	@for(product <- products) {
	  <li>@product.getProductName()</li>
	  <li>@product.getOriginalPrice()</li>
	}
    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @play20.welcome(message, style = "Java")
	<ul>
	
	</ul>
}
